body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 100px 90px;
}

.about-me {
    margin-bottom: 40px;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000; 
    margin-bottom: 20px;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000; 
}

.about-me-description {
    width: 400px;  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 0;
}

.my-prj {
margin: 0 0 50px 0;
}

.my-prj-list {
    margin: 0;
    padding: 0 0 0 18px;
}

.my-prj-item {
    color: #000;
    font-weight: 700;
}

.my-prj-text, .my-prj-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-prj-text {
    margin-left: 5px;
}

.bold {
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000; 
    margin: 0 0 10px 0;
}


.my-work-experience-position {     
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;
}

.my-work-experience-peroid {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin: 0 0 10px 0;
}

.orang {
color: #fb6d3a;
}

.divider {
    color: #000;
}

.duties {
    padding: 0 0 0 17px;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* sidebar section */

.sidebar {
    background: #1e3932;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.tech-section,
.skill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* contacts section */

.contacts-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.list {
    padding: 0;
    padding-left: 17px;
    color: #fff;
}

.orang,
.tech-skills-item, 
.soft-skills-item {
color: #fb6d3a;
}

.soft-skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}